global:
  scrape_interval: 30s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["127.0.0.1:9090"]
  - job_name: "pgw"
    honor_labels: true
    static_configs:
      - targets: ["127.0.0.1:9091"]


